/*TOP PART WITH LOGO*/
.top-part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.mobile-title {
    display: none;
}

img {
    width: 150px;
}

/*LOGIN BOX*/
.box-form {
    margin: 0 auto;
    width: 20rem;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #393e46;
    text-align: center;
}

.box-form h2 {
    color: white;
    text-transform: uppercase;
}

.form-element {
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #29a19c;
    padding: 10px 10px;
    width: 12rem;
    outline: none;
    color: white;
    transition: 0.20s;
    font-size: 1rem;

}

.form-element:focus {
    padding: 10px 30px;
}

input[type="submit"] {
    border: 1px solid #1d4d4f;
    background: #185D59;
    outline: none;
    color: white;
    transition: 0.20s;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #29a19c;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 5px;
}

a:hover {
    color: #29a19c;
}

/*FOOTER*/
footer {
    text-align: center;
    padding: 40px;
    color:#0A0A0A;
    font-size: 0.8rem;
}

.social-icon {
    margin: 20px 10px;
    color: #393e46;
}

.social-icon:hover {
    color: #1d4d4f;

}

/*RESPONSIVE*/
@media screen and (min-width: 320px) and (max-device-width: 480px) {
    body {
        background: #393e46;
    }

    footer,
    .top-part {
        display: none;
    }

    .mobile-title {
        display: block;
        font-family: 'Miriam Libre', sans-serif;
        font-size: 3rem;
        letter-spacing: 0.1em;
        color: #959698;
    }

    .box-form {
        margin: 0 auto;
        width: 80%;
        height: 50vh;
        display: flex;
        align-self: flex-start;
        background: #393e46;
    }

    .form-element {
        border: 0;
        background: none;
        margin: 20px auto;
        text-align: center;
        border: 1px solid #29a19c;
        padding: 20px;
        width: 60%;
        outline: none;
        color: white;
        transition: 0.20s;
        font-size: 1rem;

    }

    .form-element:focus {
        padding: 20px;
        border: 1px solid white
    }

    a {
        font-size: 1rem;
    }

    .box-form h2 {
        font-size: 2rem;
        padding: 10px;
    }
}