body {
    background-color: white;
}
/*HEADER*/
.header {
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../styles/images/interstellar.jpg) no-repeat top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.movie-info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    width: 50%;
    color: white;
}

h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.6rem;
    color: white;

}

.sinopsis {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: auto;
}

.icon {
    margin-left: 5px;
}

button {
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: all 0.5s;
}

.buttons {
    cursor: pointer;
    margin: 30px auto;
}

button:hover {
    background-color: #959698;
}

hr {
    border: dotted #14868c 6px;
    border-bottom: none;
    width: 50%;
    margin: 50px auto;
    margin-bottom: 100px;
}

#favorites p {
    text-align: center;
    margin-bottom: 50px;
}

/* RESPONSIVE */
@media screen and (min-width: 320px) and (max-device-width: 480px) {
    .movie-info h1 {
        font-size: 1.5rem;
    }
    
    .button-description {
        display:none;
    }
    
    .icon {
        margin: 0;
    }
}